[submodule "lib/vst-rs"]
	path = lib/vst-rs
	url = https://github.com/khremeviuc1004/vst-rs.git
[submodule "lib/simple-clap-host-helper-lib"]
	path = lib/simple-clap-host-helper-lib
	url = https://github.com/khremeviuc1004/simple-clap-host-helper-lib.git
[submodule "lib/vst3sdk"]
	path = lib/vst3sdk
	url = https://github.com/steinbergmedia/vst3sdk.git
